.card-file {
    height: 500px;
    cursor: pointer;
    padding: 1rem;

    @media screen and (max-width: 1320px) {
        & {
            height: 400px;
        }
    }

    @media screen and (max-width: 1140px) {
        & {
            height: 300px;
        }
    }

    @media screen and (max-width: 960px) {
        & {
            height: 200px;
        }
    }

    @media screen and (max-width: 720px) {
        & {
            height: 400px;
        }
    }

    @media screen and (max-width: 540px) {
        & {
            height: 400px;
        }
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}