li {
    list-style: none;
}

@import url("size.scss");
@import url("button.scss");
@import url("card.scss");
@import url("table.scss");

.input-file {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hide-spin {
    input[type="number"] {
        -webkit-appearance: textfield !important;
        -moz-appearance: textfield !important;
        appearance: textfield !important;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
    }
}

.dropdown-content{
    z-index: 9999 !important;
}