.layout-admin {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .menu {
    width: 300px;
    min-width: 300px;
    height: 100vh;
    box-sizing: border-box;
  }

  .header-main {
    flex-grow: 1;
    height: 100%;

    .header {
      height: 50px;
      border-bottom: 0.25rem solid #0066ff
    }

    .main {
      margin-top: 2rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
      height: calc(100% - 6rem);
      width: calc(100% - 1rem);
      overflow: auto;
      position: relative;
      padding-right: 1rem;
      // &::-webkit-scrollbar {
      //   display: none;
      // }

      // -ms-overflow-style: none;
      // /* IE and Edge */
      // scrollbar-width: none;
    }
  }
}